1 VERSIONINFO
FILEVERSION 4,4,1,3
FILETYPE 0x00000001
{
  BLOCK "StringFileInfo"
	 {
		 BLOCK "040904E4"
		 {
			 VALUE "FileDescription", "mod_sa"
			 VALUE "CompanyName", "we_sux, BlastHack"
		 }
	 }
  BLOCK "VarFileInfo"
	 {
		 VALUE "Translation", 0x0409, 1252
	 }
}
